body {
    background-color: #fff;
    font-family: "Inter", sans-serif;
    margin: 5% 10% 7%;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

h2 {
    color: hsl(228, 12%, 44%);
    font-size: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.follower-count {
    color: hsl(228, 12%, 44%);
    font-size: 0.5rem;
    font-weight: 700;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode {
    color: hsl(228, 12%, 44%);
    font-size: 0.6rem;
    font-weight: 700;
    display: inline;
}

input[type="checkbox"].switch {
    opacity: 0.1;
    position: absolute;
    top: -9000px;
    left: -9000px;
}

input[type="checkbox"].switch + label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

input[type="checkbox"].switch + label:before {
    content: "";
    height: 1em;
    width: 2em;
    background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    border-radius: 1em;
}

input[type="checkbox"].switch:checked + label {
    color:red;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
}
.attribution a {
    color: hsl(139, 49%, 45%);
    text-decoration: none;
}