:root {
    /*LIGHT MODE COLORS*/
    --main-bg-clr: hsl(0, 0%, 100%);
    --top-bg-pattern-clr: hsl(225, 100%, 98%);
    --card-bg-clr: hsl(227, 47%, 96%);
    --card-bg-clr-hover: hsl(218, 46%, 93%);
    --text-light-clr: hsl(228, 12%, 44%);
    --text-dark-clr: hsl(230, 17%, 14%);

    /*DARK MODE COLORS*/
    --main-bg-clr-dark: hsl(230, 17%, 14%);
    --top-bg-pattern-clr-dark: hsl(232, 19%, 15%);
    --card-bg-clr-dark: hsl(228, 28%, 20%);
    --card-bg-clr-dark-hover: hsl(230, 26%, 26%);
    --text-dark-clr-dark: hsl(226, 31%, 67%);
    --text-light-clr-dark: hsl(0, 0%, 100%);

    /* OTHER COLORS*/
    --positive-clr: hsl(163, 72%, 41%);
    --negative-clr: hsl(356, 69%, 56%);

    --facebook-clr: hsl(208, 92%, 53%);
    --twitter-clr: hsl(203, 89%, 53%);
    --instagram-left-clr: hsl(37, 97%, 70%);
    --instagram-right-clr: hsl(329, 70%, 58%);
    --instagram-clr: linear-gradient(to right, var(--instagram-left-clr), var(--instagram-right-clr));
    --youtube-clr: hsl(348, 97%, 39%);

    /*SPACING*/
    --card-width: 22%;
}

* { 
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    background-color: var(--main-bg-clr);
    /* height: 100vh; */
    margin: 5% 10%;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    color: var(--text-light-clr);
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 3rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/******** HEADER AND NAV ********/

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.follower-count {
    color: var(--text-light-clr);
    font-size: 0.5rem;
    font-weight: 700;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode-text {
    color: var(--text-light-clr);
    font-size: 0.6rem;
    font-weight: 700;
    display: inline;
    margin-right: 10px;
}

/******** DARK MODE TOGGLE CHECKBOX ********/

input[type="checkbox"].switch {
    position: absolute;
    opacity: 0;
    top: -9000px;
    left: -9000px;
}

input[type="checkbox"].switch + label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 1.2em;
}

input[type="checkbox"].switch + label:before {
    content: "";
    height: 1em;
    width: 2em;
    background: hsl(230, 22%, 74%);
    border-radius: 1em;
}

input[type="checkbox"].switch:checked + label:before {
    background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input[type="checkbox"].switch + label:after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    position: absolute;
    height: 0.75em;
    width: 0.75em;
    left: 0.18em;
    background: #fff;
    border-radius: 1em;
    transition: transform 200ms ease-in-out;
}

input[type="checkbox"].switch:checked + label:after {
    transform: translateX(125%);
    background: #fff;
    border-radius: 1em;
}

/******** TOP CARDS ********/

.top-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-border {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: var(--card-width);
}

.facebook {
    background: var(--facebook-clr);
}

.twitter {
    background: var(--twitter-clr);
}

.instagram {
    background: var(--instagram-clr);
}

.youtube {
    background: var(--youtube-clr);
}

.card {
    background-color: var(--card-bg-clr);
}

.card:hover {
    background-color: var(--card-bg-clr-hover);
}

.card-big {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    margin-top: 2%;
    padding: 10%;
    text-align: center;
}

.card-big > span {
    display: inline-block;
}

.account-name {
    color: var(--text-light-clr);
    /* display: inline; */
    font-size: 0.5rem;
    font-weight: 700;
    margin-left: 8px;
}

.card-big > .spacer {
    margin: 1.2rem auto
}

.count-big {
    color: hsl(230, 17%, 14%);
    font-size: 2.5rem;
    font-weight: 700;
}

.follow-sub {
    color: var(--text-light-clr);
    font-size: small;
    font-weight: 300;
    letter-spacing: 0.4rem;
}

.today {
    font-size: 0.5rem;
}

.positive {
    color: var(--positive-clr);
    font-size: 0.5rem;
    font-weight: 700;
}

.positive:before {
    content: url('data:image/svg+xml, %3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="4"%3E%3Cpath fill="%231EB589" fill-rule="evenodd" d="M0 4l4-4 4 4z"/%3E%3C/svg%3E');
    position: relative;
    left: -4px;
    bottom: 0.15rem;
}

.negative {
    color: var(--negative-clr);
    font-size: 0.5rem;
    font-weight: 700;
}

.negative:before {
    content: url('data:image/svg+xml, %3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="4"%3E%3Cpath fill="%23DC414C" fill-rule="evenodd" d="M0 0l4 4 4-4z"/%3E%3C/svg%3E');
    position: relative;
    left: -4px;
    bottom: 0.15rem;
}

/******** BOTTOM CARDS ********/

.bottom-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    width: 100%;
}

.card-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--card-bg-clr);
    gap: 1.5rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    padding: 2%;
    width: var(--card-width);
}

.views-likes {
    color: var(--text-light-clr);
    font-size: 0.8rem;
    font-weight: 700;
}

.count-small {
    display: inline-block;
    color: var(--text-dark-clr);
    font-size: 1.5rem;
    font-weight: 700;
}

/***** DARK-MODE CLASSES *****/
.dark-mode-theme {
    background-color: var(--main-bg-clr-dark);
}

.dark-mode-theme .nav-left h1,
.dark-mode-theme .nav-right .dark-mode-text,
.dark-mode-theme .card-big .count-big,
.dark-mode-theme h2,
.dark-mode-theme .card-small .count-small {
    color: var(--text-light-clr-dark);
}

.dark-mode-theme .nav-left .follower-count,
.dark-mode-theme .card-big .account-name,
.dark-mode-theme .card-big .follow-sub,
.dark-mode-theme .card-small .views-likes {
    color: var(--text-dark-clr-dark);
}

.dark-mode-theme .card {
    background-color: var(--card-bg-clr-dark);
}

.dark-mode-theme .card:hover {
    background-color: var(--card-bg-clr-dark-hover);
}